fieldset{
    width:40%;
    margin-left: 25%;
    font-size: small;
    font-weight: bold;
    border: 5px solid goldenrod;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-size: xx-large
}
input{
    display: block;
    width:50%;
    font-size: xx-large;
}
button{
    font-size: xx-large;
    margin-top: 5%;
    background-color: red;
}

#download{
    margin-left: 40%;
    background-color: green;
}

#photos{


}

#photos img{
    display: block;
    margin-left: 37%;
    margin-top: 2%;
    margin-bottom: 2%;
    border:5px solid red;
    border-radius:50%;
    -webkit-box-shadow: 5px 5px 5px 5px mediumslateblue;
}
