@media screen  and (min-width:1300px) and (max-width:3000px) {

    body{
        background-color: bisque;
    }
    .header {
        border: 2px solid red;
        width: 100%;
    }

    .section {

    }

    .footer {
        border: 2px solid yellow;
        background-color: dimgray;
        margin-top: 30%;
        height: 200px;
        color: white;


    }

    .footer .contact {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: 5%;
    }

    .phone {
        width: 25px;
        height: 25px;
        float: left;
    }

    .footer .contact p {

        font-weight: bold;
    }

    #enquire, #location, #faq {

        margin-left: 7%;
        font-size: small;
        font-weight: bold;
        display: block;
        color: white;
        text-decoration: none;
    }


    ul {

    }

    ul li {
        display: inline;
        list-style: none;
        font-size: large;
        margin-right: 5px;
        font-weight: bold;


    }

    ul li a {
        text-decoration: none;
        color: black;
    }

    ul li a:hover {
        color: white;
        background-color: black;

    }


    .nav {
        display: flex;
        align-items: center;
        flex-direction: row;
    }


    #olympic{
        width:400px;
        height:200px;

        border: 2px solid red;
    }

    #flag,#path{
        width:400px;
        height:200px;

        border: 2px solid red;
    }

    .canvasArea{
        width:100%;
        display: flex;
        align-items: center;
        flex-direction: row;

    }


}
@media screen  and (min-width:500px) and (max-width:1299px) {
    body{
        background-color: cornflowerblue;
    }
    .header {
        border: 2px solid red;
        width: 100%;
    }

    .section {

    }

    .footer {
        border: 2px solid yellow;
        background-color: dimgray;
        margin-top: 30%;
        height: 200px;
        color: white;


    }

    .footer .contact {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: 5%;
    }

    .phone {
        width: 25px;
        height: 25px;
        float: left;
    }

    .footer .contact p {

        font-weight: bold;
    }

    #enquire, #location, #faq {

        margin-left: 7%;
        font-size: small;
        font-weight: bold;
        display: block;
        color: white;
        text-decoration: none;
    }


    ul {

    }

    ul li {
        display: inline;
        list-style: none;
        font-size: large;
        margin-right: 5px;
        font-weight: bold;


    }

    ul li a {
        text-decoration: none;
        color: black;
    }

    ul li a:hover {
        color: white;
        background-color: black;

    }


    .nav {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

}


