.header{
    border: 2px solid red;
    width:100%;
}

.section{
    border:10px solid green;
}

.footer{
    border: 2px solid yellow;
    background-color: dimgray;
    margin-top: 30%;
    height:200px;
    color: white;
    font-size: x-large;



}
.footer .contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
}

.phone{
    width:25px;
    height:25px;
    float:left;
}
.footer .contact p{

  padding-left: 1%;
  font-weight: bold;
}
ul{
    background-color: black;
}

ul li {
    display: inline;
    list-style: none;
    font-size: x-large;
    margin-right: 5px;
    font-weight: bold;


}

ul li a{
    text-decoration: none;
    color: white;
}
