h1{
    font-size: xx-large;
    font-family: "Times New Roman";
    font-weight: bold;
}

fieldset{
    width:50%;
    font-size: large;
    font-weight: bold;
    border: 5px solid goldenrod;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
h4{
    font-size: medium;
    font-weight: bold;
}
