body{
    background-color: cornsilk;
}

.header{
    border: 2px solid red;
    width:100%;
}

.section{
    border:10px solid green;
}

.footer{
    border: 2px solid yellow;
    background-color: dimgray;
    margin-top: 30%;
    height:200px;
    color: white;




}
.footer .contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
}

.phone{
    width:25px;
    height:25px;
    float:left;
}
.footer .contact p{

    font-weight: bold;
}

#enquire,#location,#faq{

    margin-left: 7%;
    font-size: small;
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: none;
}


ul{
    background-color: black;
}

ul li {
    display: inline;
    list-style: none;
    font-size: large;
    margin-right: 5px;
    font-weight: bold;


}

ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: black;
    background-color: white;

}


.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}

